* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
    --main-color: #009688;
    --main-color-dimmed: #035a52;
}

.container {
    max-width: 800px;
    margin: auto;
    padding-bottom: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    position: relative;
}

h1 {
    margin-top: 10px;
    color: #383838;
}

form {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    gap: 10px;
    max-width: 800px;
    width: 100%;
    padding-inline: inherit
}

form input[type="text"] {
    flex: 1;
    width: 100%;
    border-radius: 25px;
    border: none;
    background-color: #f5f5f5;
    padding: 15px 15px;
    outline: none;
    font-weight: bold;
    /* border: 2px solid #009688; */
}

form button[type="submit"] {
    background-color: var(--main-color);
    color: white;
    border-radius: 50%;
    border: none;
    height: 41px;
    width: 41px;
    cursor: pointer;
    position: relative;
}

form button[type="submit"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
}

form button[type="submit"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 4px;
    background-color: white;
    border-radius: 20px;
}

.tasks_list {
    margin-top: 20px;
    max-height: calc(100vh - (42px + 41px + 10px));
    overflow-y: scroll;
    padding-bottom: 51px;
}

.task {
    width: fit-content;
    background-color: var(--main-color);
    color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    margin-bottom: 8px;
    position: relative;
    max-width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
    user-select: none;
    transition: background-color .05s;
    border-bottom-left-radius: 3px;
}
.task.finished {
    background-color: var(--main-color-dimmed);
    text-decoration: line-through;
}



.task button {
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 5px;
    font-weight: bold;
    margin-left: 5px;
    color: #383838;
}